@font-face {
    font-family: Eudoxus Sans;
    src: url(./font/EudoxusSans-Medium.ttf)
}

$textColorBlack: #151411;
$textColorGray: #AFADB5;
$textColorOri: #FFB23F;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Eudoxus Sans;
    color: $textColorBlack;
}


// Navbar
.navbar {
    height: 120px;
    border-bottom: #F3F3F3 solid 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        width: 130.05px;
        height: 42px;
        margin-left: 100px;
    }
    .item {
        // margin-left: 260px;
        a {
            text-decoration: none;
            margin-left: 60px;
            font-weight: 500;
            &:first-child {
                margin-left: 0px;
            }
        }
    }
    .login {
        margin-right: 100px;
        display: flex;
        &-bag, &-user {
            width: 30px;
            height: 30px;
            ion-icon {
                width: 100%;
                height: 100%;
            }
        }
        &-user {
            margin-left: 33px;
        }
    }
}